searchSpace:
  n_patches: 
    _type: choice
    _value: [16, 20, 24, 32, 36, 40]
  drop_rate: 
    _type: choice
    _value: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5]
  num_hops: 
    _type: choice
    _value: [1, 2, 3, 4]
  lr: 
    _type: loguniform
    _value: [0.0000001, 0.1]

trialCommand: python -m graph_vit.nni_hpo  --config graph_vit/config_reg.yaml
trialCodeDirectory: ./
trialGpuNumber: 1
trialConcurrency: 4

maxExperimentDuration: 24h
maxTrialNumber: 200
experimentWorkingDirectory: ./nni_experiments

tuner:
  name: TPE   #Anneal
  classArgs:
    optimize_mode: maximize
  
trainingService:
  platform: local
  useActiveGpu: True

